@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $toolbar-height+$header-height+$formula-height;
  overflow-x: auto;
  padding-bottom: 1px;
  .row{
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }
  .row-data{
    display: flex;
  }
  .row-info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
  }
    .column{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    height: 100%;
  }

  .cell{
    min-width: 40px;
    padding: 5px 7px;
    width: $cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;

  }
  .selected{
    border: none;
    outline: 2px solid $color-resize-selected;
    z-index: 2;
  }
  .row-resize, .column-resize{
    position: absolute;
    background: $color-resize-selected;
    opacity: 0;
    z-index: 1000;
    &:hover{
      opacity: 1;
    }
  }
  .row-resize{
    width: 100%;
    height: 6px;
    bottom: 0;
    &:hover{
      cursor: ns-resize;
    }
  }
  .column-resize{
    width: 5px;
    height: 100%;
    right: 0;
    top: 0;
    &:hover{
      cursor: ew-resize;
    }
  }
  .line-height{
    background: $color-resize-selected;
    position: absolute;
    top: $row-height;
    right: 1px;
    height: 1000px;
    width: 2px;
  }
  .line-width{
    background: $color-resize-selected;
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 2000px;
    left: $info-cell-width;;
  }

}